body {
    margin: 0;
    padding: 0;
    background-color: #888;
    color: white !important;
}
.calculator-container {
    background-color: #333;
    box-shadow: 1px 1px 30px 7px #fff;
    margin-top: 100px;
    border-radius: 10px;
    height: 500px;
    margin: 10px;
}

.display-container {
    background-color: #444;
    height: 80px;
    text-align: right;
    border-radius: 5px;
    overflow: hidden;
}

.display-equation-container {
    height: 25px;
    color: #aaa;
    padding-left: 10px;
    padding-right: 10px;
}
.display-input-container {
    height: calc(100% - 25px);
    color: #ccc;
    padding-left: 10px;
    padding-right: 10px;
}

.keys {
    outline: none;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 100%;
    color: #ccc;
    background-color: #222;
    box-shadow: 1px 1px 10px 0px #777;
    transition: 1s;
}
.keys:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 1px 1px 10px 0px #999;
}
.special-keys {
    background: rgb(255, 124, 77);
    background: linear-gradient(90deg, rgba(255, 124, 77, 1) 0%, rgba(255, 173, 73, 1) 66%);
    box-shadow: 0px 0px 10px 0px #ff7c4d;
    color: #333;
    transition: 1s !important;
}
.special-keys:hover {
    background: rgb(255, 173, 73);
    background: linear-gradient(90deg, rgba(255, 173, 73, 1) 0%, rgba(255, 124, 77, 1) 66%);
    box-shadow: 0px 0px 10px 0px #ffad49;
    color: #000;
}
